<a href="https://colab.research.google.com/github/vsbca/Data-Science/blob/master/Copy_of_Python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Python tutorial in the Notebook

1.   Python data types are INT, Floats, Booleans, Strings
#Reference
https://learning.oreilly.com/library/view/python-projects-for/9781484253557/html/481544_1_En_6_Chapter.xhtml

In [ ]:
print(2)
type(2)

2

int

In [ ]:
#Output Float values
print(2.01)
type(2.01)

2.01

float

In [ ]:
#Print the Boolean values
print(True)
print(type(True))

True
<class 'bool'>

In [ ]:
#Overwrite previously created variable
name = 'John'
print(name)
name = "Sam"
print(name)

John
Sam

In [ ]:
#String Index
word = "Hellow"
print(word[0])
print(word[1])
print(word[2])

H
e
l

**SORTED**: This function takes an iterable as an input and returns it, sorted. This function can take two additional arguments—reverse (Boolean) and key (iterable). The reverse argument allows us to get the values in reverse order, from big to

In [ ]:
#The sorted function
sorted("Hello There")

[' ', 'H', 'T', 'e', 'e', 'e', 'h', 'l', 'l', 'o', 'r']

**Range: **The range function generates a sequence of integers. It takes from one to three arguments, and each of those is expected to be an integer. If only one is defined, it will be treated as a right-hand limit of the range and will be not included. If two are defined—the first one will be the left-hand limit, and included in the range, while the second will take the role of the right-hand limit. If a third value is specified, it will be used as a step—the default step is equal to 1.

In [ ]:
list(range(3))

[0, 1, 2]

In [ ]:
list(range(1, 15, 2))

[1, 3, 5, 7, 9, 11, 13]

**All and ANY:**
all and any both take an array as their input and are logical expansions of & and | for more than two variables. Essentially, they are equal to repeating & or | for all the elements of the array. Here is an example:

In [ ]:
all((True, False, True))

False

In [ ]:
any((True, False, False))

True

In the first case, the function returns False, as there is at least one False instance in the iterable. In the second case, there is at least one True instance, so that function returns True as well.

**The max, min, and sum functions**<br/>
The max, min, and sum functions all take an array of numbers and return the maximum, minimum, or sum value as a result. Here are some examples:

In [ ]:
T=1, 2,3
print(min(T))
print(max(T))
print(sum(T))

1
3
6

In [ ]:
#String slicing
print(word[0:2])

He

In [ ]:
#.title() method
name = "john smith"
print(name.title())

John Smith

In [ ]:
#.replace method
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [ ]:
#.Strip() method would get rid of a certain character from the left or the right side of the string
name = " John "
print(name.strip())

John

#User Input and Conditionals

In [ ]:
#converting the datatype
num = "9"
num = int(num)  #re-declaring the num to store an integer
print(type(num))

<class 'int'>

In [ ]:
#working on the user input to perform calculation
ans = input("Type a number to add:")
print(type(ans))
if type(ans) == int:
  result = 100 + int(ans)
  print("100 + {} = {}".format(ans, result))
else:
  print("Please enter the Int value")

Type a number to add:as
<class 'str'>
Please enter the Int value

#Error handling in Python

In [ ]:
try:
  ans = float(input("Type a number to add:"))
  print("100 + {}".format(ans,100+ans))
except:
  print("You did not put in a valid number")

Type a number to add:asd
You did not put in a valid number

#If and ELIF statements in Python

In [ ]:
x ,y = 5, 10
if x > y:
  print("X is greater!!")
elif x < y:
  print("X is smaller")
else:
  print("Both x and y are equal")

X is smaller

#Setup Try/Except for the Mathematical Operation

In [ ]:
try:
  #step 3a: Immediately try to convert numbers input to floats
  num1, num2 = float(num1) , float(num2)
  #step 3b: perform operation and print result
  if operation == "add":
    result = num1 + num2
    print("{} + {} = {}".format(num1, num2, result))
  elif operation == "subtract":
    result = num1 + num2
    print("{} * {} = {}".format(num1, num2, result))
  elif operation == "divide":
    result = num1 / num2
    print("{} / {} == {}".format(num1, num2, result))
  else:
    #else will be hit if they didn't chose an option
    print("Error:")
except:
  print("Error, except")

Error, except

##Python Lists

In [ ]:
nums = [5, 10, 15.3, 20]
print(nums)

[5, 10, 15.3, 20]

In [ ]:
#you could assign a new value
num = 4.3
num = nums[2]
print(num)

15.3

In [ ]:
#List of the values
data = [5, "book", [34, "hello", True]]
type
print(data)

[5, 'book', [34, 'hello', True]]

In [ ]:
data = [5, 10, 15, 20]
data_copy = data[:] # a single colon copies the list
data_c = data
print(data_copy)
print(data_c)
print(data_c)

[5, 10, 15, 20]
[5, 10, 15, 20]
[5, 10, 15, 20]

In [ ]:
#Changing list
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
#Indexing 
planets[-1]

'Neptune'

In [ ]:
#Slicing
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[:3]

['Mercury', 'Venus', 'Earth']

#For loop
For Loops Recap
For loops allow you to iterate over a sequence of values. Let's take the example from the beginning of the video:

for x in range(5):

  print(x)

Similar to if statements and while loops, for loops begin with the keyword for with a colon at the end of the line. Just like in function definitions, while loops and if statements, the body of the for loop begins on the next line and is indented to the right. But what about the stuff in between the for keyword and the colon? In our example, we’re using the range() function to create a sequence of numbers that our for loop can iterate over. In this case, our variable x points to the current element in the sequence as the for loop iterates over the sequence of numbers. Keep in mind that in Python and many programming languages, a range of numbers will start at 0, and the list of numbers generated will be one less than the provided value. So range(5) will generate a sequence of numbers from 0 to 4, for a total of 5 numbers.

Bringing this all together, the range(5) function will create a sequence of numbers from 0 to 4. Our for loop will iterate over this sequence of numbers, one at a time, making the numbers accessible via the variable x and the code within our loop body will execute for each iteration through the sequence. So for the first loop, x will contain 0, the next loop, 1, and so on until it reaches 4. Once the end of the sequence comes up, the loop will exit and the code will continue.

The power of for loops comes from the fact that it can iterate over a sequence of any kind of data, not just a range of numbers. You can use for loops to iterate over a list of strings, such as usernames or lines in a file.

Not sure whether to use a for loop or a while loop? Remember that a while loop is great for performing an action over and over until a condition has changed. A for loop works well when you want to iterate over a sequence of elements.

In [ ]:
for num in range(5):
  print("Values : {}".format(num))

Values : 0
Values : 1
Values : 2
Values : 3
Values : 4

More for loop examples

In [ ]:
product = 1

for n in range(1, 10):
  product = product * n

print(product)

362880

In [ ]:
def to_celsius(x):
  return (x -32) * 5/9

for x in range(0, 101, 10):
  print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [ ]:
#Nested for loopss
#Print the pairing for the teams for the possible match

teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

# Common errors in for **loops**

In [ ]:
for x in 25:
  print(x)

TypeError: ignored

In [ ]:
for x in [25]:
  print(x)

25

**Print Triangle using For loop**

In [ ]:

# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern triangle
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

# **Recursions**
A recursive function must include a recursive case and base case. The recursive case calls the function again, with a different value. The base case returns a value without calling the same function.

A recursive function will usually have this structure: <br/>
def recursive_function(parameters):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;if base_case_condition(parameters):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return base_case_value<br/>
&nbsp;&nbsp;&nbsp;&nbsp;recursive_function(modified_parameters)<br/>

In [ ]:
def factorial(n):
  print("Factorial called with " +str(n))
  if n < 2:
    print("Returning 1")
    return 1
  
  result = n * factorial(n-1)
  return result
  print("Returning " + str(result) + " for factorial")

factorial(5)

Factorial called with 5
Factorial called with 4
Factorial called with 3
Factorial called with 2
Factorial called with 1
Returning 1

120

#The "continue" statement
###Once a continue statement is hit, the current iteration stops and goes back to the top of the loop. Let’s see an example:

In [ ]:
for num in range(5):
  if num == 3:
    continue
  print(num)

0
1
2
4

#The "break" statement
###It allows us to break out of a loop at any point in time. Let’s see an example:

In [ ]:
for num in range(5):
  if num == 3:
    break
  print(num)

0
1
2

#The "Pass" statement
### The pass statement is simply just a placeholder so that the program doesn’t break. Let’s see an example:

In [ ]:
for i in range(5):
  #Todo
  pass

#While loop
###It is a like a for loop

In [ ]:
health = 10
while health > 0:
  print(health)
  health -= 1 #Forgetting this would make an infinite loop

10
9
8
7
6
5
4
3
2
1

# **String**
Indexing and slicing <br/>
String indexing allows you to access individual characters in a string. You can do this by using square brackets and the location, or index, of the character you want to access. It's important to remember that Python starts indexes at 0. So to access the first character in a string, you would use the index [0]. If you try to access an index that’s larger than the length of your string, you’ll get an IndexError. This is because you’re trying to access something that doesn't exist! You can also access indexes from the end of the string going towards the start of the string by using negative values. The index [-1] would access the last character of the string, and the index [-2] would access the second-to-last character.

In [ ]:
test = "This is the string"
print(test[0:4])

This

In [ ]:
print(test[4:])

 is the string

In [ ]:
message = "A kong string with a silly typo"
#This would give an error
#message[2] = "l"
new_message = message[0:2] + "l" + message[3:]
print(new_message)

A long string with a silly typo

In [ ]:
def first_and_last(message):
  return False

print(first_and_last("else"))

False

#Write a function, to replace the old domain with the new domain

In [ ]:
def replace_domain(email, old_domain, new_domain):
  print('@' + old_domain)
  print("##################")
  if '@' + old_domain in email:
    #start where the "@old_domain exists"
    index = email.index('@' + old_domain)
    print("This is the index ", index)
    print("Find the username ", email[:index])
    new_email = email[:index] + "@" + new_domain
    return new_email
  return email

replace_domain("john_h@testingking.com", "testingking.com", "pythonking.com")

@testingking.com
##################
This is the index  6
Find the username  john_h

'john_h@pythonking.com'

#Simple string operators

In [ ]:
response = input("You want to participate in the questionnaire Yes/No")
if response.lower == "yes":
  q1 = input("What is your age?")
  if int(q1):
    print("thanks")
  else:
    print("Age is an iteger value")

You want to participate in the questionnaire Yes/NoYes

# String Format <br/>
You can use the format method on strings to concatenate and format strings in all kinds of powerful ways. To do this, create a string containing curly brackets, {}, as a placeholder, to be replaced. Then call the format method on the string using .format() and pass variables as parameters. The variables passed to the method will then be used to replace the curly bracket placeholders. This method automatically handles any conversion between data types for us. 

If the curly brackets are empty, they’ll be populated with the variables passed in the order in which they're passed. However, you can put certain expressions inside the curly brackets to do even more powerful string formatting operations. You can put the name of a variable into the curly brackets, then use the names in the parameters. This allows for more easily readable code, and for more flexibility with the order of variables.

You can also put a formatting expression inside the curly brackets, which lets you alter the way the string is formatted. For example, the formatting expression {:.2f} means that you’d format this as a float number, with two digits after the decimal dot. The colon acts as a separator from the field name, if you had specified one. You can also specify text alignment using the greater than operator: >. For example, the expression {:>3.2f} would align the text three spaces to the right, as well as specify a float number with two decimal places. String formatting can be very handy for outputting easy-to-read textual output.

![image.png]()

In [ ]:
name = "Manny"
number = len(name) * 3
print("Hello {}!!!, your lucky number is {}".format(name, number))

Hello Manny!!!, your lucky number is 15

In [ ]:
#Format expression
print("Your lucky number is {number}, {name}".format(name=name, number=number))

Your lucky number is 15, Manny

In [ ]:
#{0} {1}.format(first, second)
first = "apple"
second = "banana"
third = "carrot"

format_string = "{0} {2} {1}".format(first,second, third)
print(format_string)

apple carrot banana

# **List**

In [ ]:
x = ["now", "then", "when"]
def get_word(sentence, n):
  #only proceed if n is positive
  if n > 0:
    words =

SyntaxError: ignored

#List are mutable

In [ ]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.insert(0, "Orange")  #First element
fruits.insert(25, "Peach") #Append at the end
fruits.remove("Apple") #If the element exists
fruits.pop(3) #Using the index
#Replace the existing
fruits[2] = "Mango"
print(fruits)

['Orange', 'Pineapple', 'Mango', 'Peach']

The skip_elements function returns a list containing every other element from an input list, starting with the first element. Let's see an example

In [ ]:
def skip_elements(elements):
	# Initialize variables
	new_list = []
	i = 0

	# Iterate through the list
	for i in range(len(elements)):
		# Does this element belong in the resulting list?
    #Check if it is even index
		if (i % 2) == 0:
			# Add this element to the resulting list
			new_list.append(elements[i])

		# Increment i
list1 = ["Pineapple", "Banana", "Apple", "Melon"]

print(skip_elements(list1))

None

# **List and Tuples**
Strings are immutable in Python <br/>
Lists are mutable in Python <br/>
Tuple are immutable<br/>
<br/>
As we mentioned earlier, strings and lists are both examples of sequences. Strings are sequences of characters, and are immutable. Lists are sequences of elements of any data type, and are mutable. The third sequence type is the tuple. Tuples are like lists, since they can contain elements of any data type. But unlike lists, tuples are immutable. They’re specified using parentheses instead of square brackets.

You might be wondering why tuples are a thing, given how similar they are to lists. Tuples can be useful when we need to ensure that an element is in a certain position and will not change. Since lists are mutable, the order of the elements can be changed on us. Since the order of the elements in a tuple can't be changed, the position of the element in a tuple can have meaning. A good example of this is when a function returns multiple values. In this case, what gets returned is a tuple, with the return values as elements in the tuple. The order of the returned values is important, and a tuple ensures that the order isn’t going to change. Storing the elements of a tuple in separate variables is called unpacking. This allows you to take multiple returned values from a function and store each value in its own variable.

In [ ]:
fullname = ('Grace', 'H', 'Hopper')
#Function returning tuple
def convert_seconds(seconds):
  hours = seconds//3600
  minutes = (seconds - hours * 3600)//60
  remaining_seconds = seconds - hours * 3600 - minutes * 60 
  return hours, minutes, remaining_seconds

hour, mins, seconds = convert_seconds(3600)
print(hour)
print(mins)
print(seconds)

1
0
0

#Iterate Over List and Tuple

# **Lists and Tuples Operations Cheat Sheet** <br/>
## **Lists and Tuples Operations Cheat Sheet<br/>**
Lists and tuples are both sequences, so they share a number of sequence operations. But, because lists are mutable, there are also a number of methods specific just to lists. This cheat sheet gives you a run down of the common operations first, and the list-specific operations second.<br/>

**Common sequence operations<br/>**
len(sequence) Returns the length of the sequence<br/>

for element in sequence Iterates over each element in the sequence<br/>

if element in sequence Checks whether the element is part of the sequence<br/>

**sequence[i]** Accesses the element at index i of the sequence, starting at zero<br/>

**sequence[i:j]** Accesses a slice starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(sequence) by default.

for index, element in enumerate(sequence), Iterates over both the indexes and the elements in the sequence at the same time

# **Check out the official documentation for sequence operations.** <br/>

List-specific operations and methods
**list[i]** = x Replaces the element at index i with x

**list.append(x)** Inserts x at the end of the list

**list.insert(i, x)** Inserts x at index i

**list.pop(i)** Returns the element a index i, also removing it from the list. If i is omitted, the last element is returned and removed.

**list.remove(x)** Removes the first occurrence of x in the list

**list.sort()** Sorts the items in the list

**list.reverse()** Reverses the order of items of the list

**list.clear()** Removes all the items of the list

**list.copy()** Creates a copy of the list

**list.extend(other_list)** Appends all the elements of other_list at the end of list <br/>

Most of these methods come from the fact that lists are mutable sequences. For more info, see the official documentation for mutable sequences and the list specific documentation. <br/>

**List comprehension** <br/>
**[expression for variable in sequence]** Creates a new list based on the given sequence. Each element is the result of the given expression.

**[expression for variable in sequence if condition]** Creates a new list based on the given sequence. Each element is the result of the given expression; elements only get added if the condition is true.

In [ ]:
animals = ["Lion", "Zebra", "Dolphin", "Monkey"]
chars = 0

for animal in animals:
  chars += len(animal)
print(chars)

22

In [ ]:
#Use enumerate function on the List
winners = ["Ashely", "Dylan", "Reese"]
for index, person in enumerate(winners):
  print("{} - {}".format(index + 1, person))

1 - Ashely
2 - Dylan
3 - Reese

Complete the skip_elements function to return every other element from the list, this time using the enumerate function to check if an element is on an even position or an odd position.

In [ ]:
def skip_elements(elements):
	# code
  empty_l = []
  for index, elem in enumerate(elements):
    if (index % 2) == 0:
      empty_l.append(elem)
  return empty_l

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [ ]:
#Tuple
def full_emails(people):

  result = []
  for email, name in people:
    result.append("{} <{}>".format(name, email))
  return result
print(full_emails([("alex@example.com", "Alex Diego"), ("shay@example.con", "Shay Brant")]))

['Alex Diego <alex@example.com>', 'Shay Brant <shay@example.con>']

In [ ]:
#tuple of 3 elements
def file_size(file_info):
	assignment, file_type, size = file_info
	return("{:.2f}".format(size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

# **Dictionary <br/>**
Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

# **Iterating Over Dictionaries**
You can iterate over dictionaries using a for loop, just like with strings, lists, and tuples. This will iterate over the sequence of keys in the dictionary. If you want to access the corresponding values associated with the keys, you could use the keys as indexes. Or you can use the items method on the dictionary, like dictionary.items(). This method returns a tuple for each element in the dictionary, where the first element in the tuple is the key and the second is the value.

If you only wanted to access the keys in a dictionary, you could use the keys() method on the dictionary: dictionary.keys(). If you only wanted the values, you could use the values() method: dictionary.values(). <br/>
**Operations**

len(dictionary) - Returns the number of items in the dictionary

for key in dictionary - Iterates over each key in the dictionary

for key, value in dictionary.items() - Iterates over each key,value pair in the dictionary

if key in dictionary - Checks whether the key is in the dictionary

dictionary[key] - Accesses the item with key key of the dictionary

dictionary[key] = value - Sets the value associated with key

del dictionary[key] - Removes the item with key key from the dictionary

**Methods**

dict.get(key, default) - Returns the element corresponding to key, or default if it's not present <br/>
dict.keys() - Returns a sequence containing the keys in the dictionary<br/>

dict.values() - Returns a sequence containing the values in the dictionary<br/>

dict.update(other_dictionary) - Updates the dictionary with the items coming from the other dictionary. Existing entries will be replaced; new entries will be added.<br/>
dict.clear() - Removes all the items of the dictionary<br/>

Ref:<br/>
https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ", Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ", Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ", Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ", Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ", Dict)

Empty Dictionary:  {}

Dictionary after adding 3 elements:  {0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:  {0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:  {0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:  {0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

# **Date Time**

In [ ]:
import time  # This is required to include time module.

ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1630524342.3988779

#Functions in Python
###Functions give us the ability to make our programs much more powerful and clean while also saving us time. We’ll go over how they work on the first day, but the reason we use functions is because of the ability to write once and call repeatedly.
![image.png]()

In [ ]:
#writing the first function
def printInfo():
  print("Name: John Smith")
  print("Age: 45")

printInfo()

Name: John Smith
Age: 45

#UDF VS. BUILT-IN
####Without even knowing it, you’ve been using functions this whole time. Functions such as range, print, len, etc., are all known as “built-in” functions . They are included in Python because they serve a specific purpose to help build our applications. Now that we’re learning about functions, we can begin to create our own known as UDFs or “user-defined functions.”

In [ ]:
def calc():
  x, y = 5, 10
  print(x + y)

calc()

15

#Passing A single Parameters

In [ ]:
def printName(fullname):
  print("Your name is {}.".format(fullname))

printName("Sam")

Your name is Sam.

#Passing Multiple Parameters into a function

In [ ]:
def addNums(num1, num2):
  result = num1 + num2
  print("{} + {} = {}".format(num1, num2, result))

addNums(5, 8)

5 + 8 = 13

#Passing A List

In [ ]:
numbers1 = [2,4,5,10]
numbers2 = [1, 3, 5]

def squares(nums):
  for num in nums:
    print(nums*2)

squares(numbers1)

[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]

In [ ]:
def calcArea(r, pi=3.14):
  area = pi * (r**2)
  print("Area: {}".format(area))

calcArea(2)

Area: 12.56

#Making parameter optional
####Sometimes you need to make functions that take optional arguments. The best example is always middle names; some people have them, and some don’t. If we wanted to write a function that would print out properly for both situations, we would need to make the middle name an optional parameter. We do this by assigning an empty string value as the default:

In [ ]:
def printName(first, last, middle=""):
  if middle:
    print("{} {} {}".format(first, middle, last))
  else:
    print("{} {}".format(first, last))
  
printName("John", "Smith")
printName("John", "Smith", "Paul")

John Smith
John Paul Smith

#NAMED PARAMETER ASSIGNMENT
####During the function call, you can explicity assign values into parameter names. This is useful when you don’t want to mix up the order of values being passed in, as they work from left to right by default. You can use parameter names to assign values for every parameter if you choose, but it’s not necessary most of the time. Let’s check out an example:

In [ ]:
def addNums(num1, num2):
  print(num2)
  print(num1)

addNums(5, num2 = 2.5)

2.5
5

#ARGS - Variable number of Arguments
## ####The use of  *args allows you to pass a variable number of arguments into a function. This allows you to make functions more modular. The magic isn’t the “args” keyword here though; it’s really the unary operator (*) that allows us to perform this feature. You could theoretically replace the word args with anyone, like “*data”, and it would still work. However, args is the default and general standard throughout the industry. Let’s see how we can use args in a function call:

In [ ]:
def outputData(name, *args):
  print(type(args))
  for arg in args:
    print(arg)

outputData("John Smith", 5, True, "Jess")

<class 'tuple'>
5
True
Jess

#KWARGS - 
####Like args, kwargs allows us to take in an arbitrary number of values in a function; however, it works as a dictionary with keyword arguments instead. Keyword arguments are values passed in with keys, which allow us to access them easily within the function block. Again, the magic here is in the two unary operators (**) not the keyword of kwargs. Let’s check it out:

In [ ]:
def outputData(**kwargs):
  print(type(kwargs))
  print(kwargs["name"])
  print(kwargs["num"])
  print(kwargs["b"])

outputData(name = "John Smith", num=5, b=True)

<class 'dict'>
John Smith
5
True

#Return - Statement
####Up to this point, we’ve been printing out the data that our functions alter, but what do you do if you need to access this information later? This is where the return statement is used. Functions can manipulate data and then send it back to where the function call occurred to save the information to be used for later. Today we’ll learn how to do that and why it’s useful.

In [ ]:
def returnMultiple(num1, num2):
  a = num1
  b = num2
  return [a, b]

returnMultiple(10,10)

[10, 10]

#Ternary Operator
####A ternary operator is a shorthand Python branching statement. These operators can be used to assign values into a variable, or in this case, deciding what the return from a function:

In [ ]:
def searchList(aList, el):
      return True if el in aList else False
result = searchList( [ "one", 2, "three" ], 2)    # result = True
print(result)

True

#Type Of Scope
###Global scope Access
###When global attributes are defined, they're accessible to the rest of the file. However, we must keep in mind how function scope works. Even when you declare a variable accessible to the entire file, it will not be accessible within the function. Let’s see an example:

In [ ]:
number = 5
def scopeTest():
  number += 1 #not accessible due to the function level scope
  
scopeTest()

UnboundLocalError: ignored

#Handling function Scope
When dealing with variable declared in a function, you generally won't need to access it outside of the function. However, in order to access that value, best practice is to return it.

In [ ]:
def scopeTest():
  word = "function"
  return word

value = scopeTest()
print(value)

function

#Data Collection and Files
There are several data stuctures in Python. We’ll cover dictionaries, sets, tuples, and frozensets.

#Declaring A Dictionary
####A dictionary is a collection of unordered data, which is stored in key-value pairs. What is meant by “unordered” is the way it is stored in memory. It is not accessible through an index, rather it is accessed through a key. Lists are known as ordered data collections because each item is assigned a specific location. Dictionaries work like a real-life dictionary, where the key is the word and the values are the definition. Dictionaries are useful for working with large data, mapped data, CSV files, APIs, sending or receiving data, and much more.

In [ ]:
#declaring a dictionary variable
empty = {} #empty dictionary
person = {"name": "John Smith"}

customer = {
    "name" : "Morty",
    "age" : 26
}
print(customer)

{'name': 'Morty', 'age': 26}

#Using the GET Method
####Another way of retrieving information is to use the get() method. The major difference between using this method and the previous way of accessing a value is that the get method won’t throw a key error. If the key doesn’t exist, it will simply return “None”. You may also add in a second argument in the call, in order to have the program return a more specific data type. Let’s try

In [ ]:
#using the get method to access dictionary information
person = {"name": "John"}
print(person.get("name")) #retrieves value of name

print(person.get("age", "Age is not available."))

John
Age is not available.

#Dictionaries with Lists
####Dictionaries become powerful when you start working with data collections as values:

In [ ]:
#storing a list within a dictionary and accessing it
data = {"sports": [ "baseball", "football", "hockey", "soccer"]}
print(data["sports"][1])

football

#List With Dictionaries
###The combination of lists within dictionries and vice-versa can become confusiing when trying to figure out how to access information.

In [ ]:
data = ["john", "Dennis", {"name": "Kristen", "Age": 24}]
print(data[2])
print("This would bring the age", data[2]["Age"])

{'name': 'Kristen', 'Age': 24}
This would bring the age 24

#Looping Dictionary
Dictionaries are iterable like lists. However, they have three different methods for doing so. You can iterate over both the keys and values together, only keys, or only values.

In [ ]:
person = {"name": "John", "age": 26}
for key in person.keys():
  print("This is the key", key)
  print(person[key])

This is the key name
John
This is the key age
26

In [ ]:
#Looping key-value pair
person = {"name": "John", "age": 26}
for key, value in person.items():
  print("{}:{}".format(key, value))

name:John
age:26

#Declaring Tuple
####To declare a tuple, you use a comma to separate two or more items. Lists are denoted by their square brackets on the outside, whereas tuples can be declared with optional parenthesis. It’s more likely they’re declared with parenthesis as it’s easier to read. Let’s see an example:

In [ ]:
#declaring a tuple
t1 = ("hello", 2, "hello1")
t2 = True, 1

print(type(t1), type(t2))
t1[0] = 1

<class 'tuple'> <class 'tuple'>

TypeError: ignored

##WHAT ARE SETS?
Sets share the same characteristics of lists and dictionaries. A set is a collection of information like a list; however, like a key in a dictionary, sets can only contain unique values. They are also an unordered collection. This means that they cannot be accessed by index but rather by the value itself like dictionary keys. They can be iterated through though, like how dictionary keys can be looped over. Sets are practical in situations of storing unique items.

##DECLARING A SET
There are two ways to declare a set. The first way is by using the keyword “set” followed by parenthesis and enclosing square brackets. The second way, which is more practical, looks like a dictionary being declared by using a set of curly brackets. Let’s check it out:

In [ ]:
# declaring a set
s1 = set( [1, 2, 3, 1] )      # uses the set keyword and square brackets
s2 = {4, 4, 5}            # uses curly brackets, like dictionary
print( type(s1), type(s2) )
s1.add(5)      # using the add method to add new items to a set
s1.remove(1)   # using the remove method to get rid of the value 1
print(s1)     # notice when printed it removed the second "1" at the end

<class 'set'> <class 'set'>
{2, 3, 5}

#Object Oriented Programming

In [ ]:
#Create your first class
class Car():
  sound = "beep"
  color = "red"

ford = Car()
print(ford.color)

red

#Using The "\_\_INIT__()" Constructor
###When you want to instantiate an object with specific properties, you need to use the initialization (init) method . Whenever an instance is created, the init method is called immediately. You can use this method to instantiate objects with different attribute values upon creation. This allows us to easily create class instances with personalized attributes. 
The "self" keyword is a reference to the current instance of the class and is used to access variables and methods associated with that instance.

In [ ]:
#Using init
class Car():
  def __init__(self, color):
    self.color = color


ford = Car("blue")
#This would print the color blue
print(ford.color)

blue

In [ ]:
#Instantiating multiple object with Init
class Car():
  def __init__(self, color, year):
    self.color = color
    self.year = year

ford = Car("blue", 2014)
subaru = Car("red", 2016)

print(ford.color, ford.year)
print(subaru.color, subaru.year)

blue 2014
red 2016

#GLOBAL Attributes VS. INSTANCE Attribute
###Without knowing it, you’ve been using both globally accessible attributes and instance accessible attributes. Global attributes can be referenced by the class directly and all its instances, whereas instance attributes (which are defined within the init method) can only be accessed by the class instances. If an attribute is declared inside of a class, but not within the init method, then it is known as a global attribute. Any attributes declared within the init method using the self keyword are instance attributes. Let’s see an example:

In [ ]:
class Car():
  sound = "beep"
  def __init__(self, color):
    self.color = "blue"

print(Car.sound)
#print(Car.color) won't work, as color is only available to the instance of the Car class
ford = Car("blue")
print(ford.sound, ford.color)

beep
beep blue

#Defining AND Calling A Method
###Defining a method is the same as defining a function; however, you simply put the code within the class indentation block. When declaring a method that you intend to access through instances, you must use the self parameter in the definition. Without the self keyword, the method can only be accessed by the class itself. In order to call a method, you use dot syntax. As methods are just functions, you must call them with parenthesis after the name of the instance.
###Within the methods you create, you’ll often need access to attributes defined within the class. To do so, you need to use the self keyword in order to access the attribute. Remember that self is in reference to the instance accessing the class. When we create multiple instances, self is what allows the program to understand which sound attribute to return. This is true even for global attributes.
##<b>Method Scope:</b>
###Like global attributes, you may have methods that are accessible through the class itself rather than an instance of the class. These may also be known as static methods . They are not accessible by instances of the class. Depending on the class your building, it may help to have a method that is only accessible through the class and not the instances. Let’s see an example:

In [ ]:
class Dog():
  def makeSound(self):
    print("bark")
  
sam = Dog()
sam.makeSound()

bark

In [ ]:
#Accessing Class attributes in Methods
class Dog():
  sound = "bark"
  def makeSound(self):
    print(self.sound) #self required to access attributes defined in the class

sam = Dog()
sam.makeSound()

bark

In [ ]:
# understanding which methods are accessible via the class itself and class instances
class Dog():
  sound = "bark"
  def makeSound(self):
    print(self.sound)

  def printInfo():
    print("I am a dog.")
  
Dog.printInfo()

sam = Dog()
sam.makeSound()
#sam.printInfo() #This would produce error

I am a dog.
bark

In [ ]:
#Passing argument in the methods
class Dog():
  sound = "bark"

  def showInfo(self, name, age, address):
    sound = self.sound
    print(sound, name, age, address)


sam = Dog()
sam.showInfo("Rob", 16, "106 Loscolinas")

bark Rob 16 106 Loscolinas

#USING SETTERS AND GETTERS
####In programming there is a concept called setters and getters . They are methods that you create to re-declare attribute values and return attribute values. We’ve seen how we can alter attribute values by directly accessing them; however, this can sometimes lead to problems or accidentally altering the value. Good practice is to create a method that will alter the attribute value for you and call that method when you need to set a new value. The same goes for when you want to access a given attributes value; instead of accessing it directly, you call a method that will return the value. This gives us a safer way to access an instances attributes. Let’s see how we can:

In [ ]:
#using methods to set or return attribute values, proper programming practice
class Dog():
  name = ''  #would normally use init method to declare this si for testing

  def setName(self, new_name):
    self.name = new_name

  def getName(self):
    return self.name

sam = Dog()
sam.setName("Sammi")
print(sam.getName)

<bound method Dog.getName of <__main__.Dog object at 0x7f4945e86590>>

In [ ]:
class Dog():
  age = 6
  def getAge(self):
    return self.age 

  def printInfo(self):
    if self.getAge() < 10:
      print("Puppy")

sam = Dog()
sam.printInfo()

Puppy

#Magic Methods
####While they have a funny name, magic methods are the underlying of classes in Python. Without knowing, you’ve already used one, the initialization method. All magic methods have two underscores before and after their name. When you print out anything, you’re accessing a magic method called __str__. When you use operators (+, -, /, ∗, ==, etc.), you’re accessing magic methods. They are essentially functions that decide what operators and other tasks in Python perform. Don’t get too hooked on them, as we won’t use them too much, but I wanted to introduce you to them. As mentioned, the __str__ magic method is called when using the print function; it stands for the string representation of a class. Let’s alter what gets printed out when we print out a class that we defined ourselves:

In [ ]:
#Calling a class method from another method
class Dog():
  age = 6
  def getAge(self):
    return self.age

  def printInfo(self):
    if self.getAge() < 10:
      print("Puppy!")

sam = Dog()
sam.printInfo()

Puppy!

#Method Overriding
####Sometimes when using inheritance, you want the subclass to be able to perform a different action when the same method is called. Take our makeSound method from the previously created Animal class. It prints out “roar”, but that’s not the sound you want dogs making when you create your Dog class. Instead, we use the concept of method overriding to change what the method does. Within the subclass, we redefine the method (with the same name) to perform the task differently. Python will always use the method defined within the subclass first, and if one doesn’t exist, then it will check the superclass. Let’s use method overriding to alter the makeSound method and print the proper statement for our Dog class:

In [ ]:
class Animal():
  def makeSound(self):
    print("roar")

class Dog(Animal):     #inheritance
  def makeSound(self): #overriding the same function
    print("bark")


sam, lion = Dog(), Animal()
sam.makeSound()
lion.makeSound()

bark
roar

#Efficiency
###

In [ ]:
nums = []
for x in range(10):
   if x % 2 == 0:
     nums.append(x)

#Lambda Functions
####Lambda functions, otherwise known as anonymous functions, are one-line functions within Python. Like list comprehension, lambda functions allow us to reduce the lines of code we need to write within our program. It doesn’t work for complicated functions but helps to improve readability of smaller functions.
>>> <b>lambda </b> arguments: expression <br/>
<b> OR </b> <br/>
>>> <b>lambda arguments:</b> value_to_return if condition else value_to_return

In [ ]:
#using a lambda to square a number
(lambda x: x**2)(4)

In [ ]:
greater = lambda x, y : x if x > y else y
result = greater(5, 10)
print(result)

10

#Map, Filter, and Reduce
####When working with data, you’ll generally need to be able to modify, filter, or calculate an expression from the data. That’s where these important built-in functions come in to play. The map function is used to iterate over a data collection and modify it. The filter function is used to iterate over a data collection, and you guessed it… filter out data that doesn’t meet a condition. Lastly, the reduce function takes a data collection and condenses it down to a single result, like the sum function for lists.
<b>Map </b><br/>
The map function is used when you need to alter all items within an iterable data collection. It takes in two arguments, the function to be applied on each element and the iterable data. When using map, it returns a map object, which is an iterator.

In [ ]:
#Using the map function without lambdas
def convertDeg(C):
  return (9/5)

# **OOP Introduction** <br/>
In object-oriented programming, concepts are modeled as classes and objects. An idea is defined using a class, and an instance of this class is called an object. Almost everything in Python is an object, including strings, lists, dictionaries, and numbers. When we create a list in Python, we’re creating an object which is an instance of the list class, which represents the concept of a list. Classes also have attributes and methods associated with them. Attributes are the characteristics of the class, while methods are functions 
that are part of the class.
<br/>
<br/>
*Overview of OOP Terminology*
*Class* - A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

**Class variable** − A variable that is shared by all instances of a class. Class variables are defined within a class but outside any of the class's methods. Class variables are not used as frequently as instance variables are. <br/>

**Data member** − A class variable or instance variable that holds data associated with a class and its objects.<br/>

**Function overloading** − The assignment of more than one behavior to a particular function. The operation performed varies by the types of objects or arguments involved.<br/>

**Instance variable** − A variable that is defined inside a method and belongs only to the current instance of a class.<br/>

**Inheritance** − The transfer of the characteristics of a class to other classes that are derived from it.<br/>

**Instance** − An individual object of a certain class. An object obj that belongs to a class Circle, for example, is an instance of the class Circle.<br/>

**Instantiation** − The creation of an instance of a class.<br/>

Method − A special kind of function that is defined in a class definition.<br/>

Object − A unique instance of a data structure that's defined by its class. An object comprises both data members (class variables and instance variables) and methods.<br/>

Operator overloading − The assignment of more than one function to a particular operator.<br/>

In [ ]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#define the simple class function
class Apple:
  color = ""
  flavor = ""

jonagold = Apple()
jonagold.color = "red"
jonagold.flavor = "sweet"

golden = Apple()
golden.color = "Yellow"
golden.flavor = "soft"

print(jonagold.color)
print(golden.flavor)

red
soft

In [20]:
class Employee:
   '''Common base class for all employees'''
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)

emp1 = Employee("Zara", 2000)
emp1.displayEmployee()
emp1.displayCount()

Name :  Zara , Salary:  2000
Total Employee 1

In [21]:
#!/usr/bin/python

class Parent:        # define parent class
   parentAttr = 100
   def __init__(self):
      print("Calling parent constructor")

   def parentMethod(self):
      print('Calling parent method')

   def setAttr(self, attr):
      Parent.parentAttr = attr

   def getAttr(self):
      print("Parent attribute :", Parent.parentAttr)

class Child(Parent): # define child class
   def __init__(self):
      print("Calling child constructor")

   def childMethod(self):
      print("Calling child method")

c = Child()          # instance of child
c.childMethod()      # child calls its method
c.parentMethod()     # calls parent's method
c.setAttr(200)       # again call parent's method
c.getAttr()          # again call parent's method

Calling child constructor
Calling child method
Calling parent method
Parent attribute : 200

In [ ]:
#Format the string
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old?".format(name, 28))

Hello John
Hello John, you are 28 years old?