<a href="https://colab.research.google.com/github/vsbca/Data-Science/blob/master/Python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Python tutorial in the Notebook

1.   Python data types are INT, Floats, Booleans, Strings
#Reference
https://learning.oreilly.com/library/view/python-projects-for/9781484253557/html/481544_1_En_6_Chapter.xhtml

In [2]:
print(2)
type(2)

2

int

In [7]:
#Output Float values
print(2.01)
type(2.01)

2.01

float

In [8]:
#Print the Boolean values
print(True)
print(type(True))

True
<class 'bool'>

In [9]:
#Overwrite previously created variable
name = 'John'
print(name)
name = "Sam"
print(name)

John
Sam

In [10]:
#String Index
word = "Hellow"
print(word[0])
print(word[1])
print(word[2])

H
e
l

In [11]:
#String slicing
print(word[0:2])

He

In [13]:
#.title() method
name = "john smith"
print(name.title())

John Smith

In [14]:
#.replace method
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [16]:
#.Strip() method would get rid of a certain character from the left or the right side of the string
name = " John "
print(name.strip())

John

#User Input and Conditionals

In [18]:
#converting the datatype
num = "9"
num = int(num)  #re-declaring the num to store an integer
print(type(num))

<class 'int'>

In [23]:
#working on the user input to perform calculation
ans = input("Type a number to add:")
print(type(ans))
if type(ans) == int:
  result = 100 + int(ans)
  print("100 + {} = {}".format(ans, result))
else:
  print("Please enter the Int value")

Type a number to add:as
<class 'str'>
Please enter the Int value

#Error handling in Python

In [25]:
try:
  ans = float(input("Type a number to add:"))
  print("100 + {}".format(ans,100+ans))
except:
  print("You did not put in a valid number")

Type a number to add:asd
You did not put in a valid number

#If and ELIF statements in Python

In [29]:
x ,y = 5, 10
if x > y:
  print("X is greater!!")
elif x < y:
  print("X is smaller")
else:
  print("Both x and y are equal")

X is smaller

#Setup Try/Except for the Mathematical Operation

In [31]:
try:
  #step 3a: Immediately try to convert numbers input to floats
  num1, num2 = float(num1) , float(num2)
  #step 3b: perform operation and print result
  if operation == "add":
    result = num1 + num2
    print("{} + {} = {}".format(num1, num2, result))
  elif operation == "subtract":
    result = num1 + num2
    print("{} * {} = {}".format(num1, num2, result))
  elif operation == "divide":
    result = num1 / num2
    print("{} / {} == {}".format(num1, num2, result))
  else:
    #else will be hit if they didn't chose an option
    print("Error:")
except:
  print("Error, except")

Error, except

##Python Lists

In [32]:
nums = [5, 10, 15.3, 20]
print(nums)

[5, 10, 15.3, 20]

In [33]:
#you could assign a new value
num = 4.3
num = nums[2]
print(num)

15.3

In [34]:
#List of the values
data = [5, "book", [34, "hello", True]]
type
print(data)

[5, 'book', [34, 'hello', True]]

In [36]:
data = [5, 10, 15, 20]
data_copy = data[:] # a single colon copies the list
data_c = data
print(data_copy)
print(data_c)
print(data_c)

[5, 10, 15, 20]
[5, 10, 15, 20]
[5, 10, 15, 20]

#For loop

In [37]:
for num in range(5):
  print("Values : {}".format(num))

Values : 0
Values : 1
Values : 2
Values : 3
Values : 4

#The "continue" statement
###Once a continue statement is hit, the current iteration stops and goes back to the top of the loop. Let’s see an example:

In [38]:
for num in range(5):
  if num == 3:
    continue
  print(num)

0
1
2
4

#The "break" statement
###It allows us to break out of a loop at any point in time. Let’s see an example:

In [39]:
for num in range(5):
  if num == 3:
    break
  print(num)

0
1
2

#The "Pass" statement
### The pass statement is simply just a placeholder so that the program doesn’t break. Let’s see an example:

In [40]:
for i in range(5):
  #Todo
  pass

#While loop
###It is a like a for loop

In [43]:
health = 10
while health > 0:
  print(health)
  health -= 1 #Forgetting this would make an infinite loop

10
9
8
7
6
5
4
3
2
1

#Functions in Python
###Functions give us the ability to make our programs much more powerful and clean while also saving us time. We’ll go over how they work on the first day, but the reason we use functions is because of the ability to write once and call repeatedly.
![image.png]()

In [44]:
#writing the first function
def printInfo():
  print("Name: John Smith")
  print("Age: 45")

printInfo()

Name: John Smith
Age: 45

#UDF VS. BUILT-IN
####Without even knowing it, you’ve been using functions this whole time. Functions such as range, print, len, etc., are all known as “built-in” functions . They are included in Python because they serve a specific purpose to help build our applications. Now that we’re learning about functions, we can begin to create our own known as UDFs or “user-defined functions.”

In [45]:
def calc():
  x, y = 5, 10
  print(x + y)

calc()

15

#Passing A single Parameters

In [48]:
def printName(fullname):
  print("Your name is {}.".format(fullname))

printName("Sam")

Your name is Sam.

#Passing Multiple Parameters into a function

In [49]:
def addNums(num1, num2):
  result = num1 + num2
  print("{} + {} = {}".format(num1, num2, result))

addNums(5, 8)

5 + 8 = 13

#Passing A List

In [50]:
numbers1 = [2,4,5,10]
numbers2 = [1, 3, 5]

def squares(nums):
  for num in nums:
    print(nums*2)

squares(numbers1)

[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]
[2, 4, 5, 10, 2, 4, 5, 10]

In [51]:
def calcArea(r, pi=3.14):
  area = pi * (r**2)
  print("Area: {}".format(area))

calcArea(2)

Area: 12.56

#Making parameter optional
####Sometimes you need to make functions that take optional arguments. The best example is always middle names; some people have them, and some don’t. If we wanted to write a function that would print out properly for both situations, we would need to make the middle name an optional parameter. We do this by assigning an empty string value as the default:

In [54]:
def printName(first, last, middle=""):
  if middle:
    print("{} {} {}".format(first, middle, last))
  else:
    print("{} {}".format(first, last))
  
printName("John", "Smith")
printName("John", "Smith", "Paul")

John Smith
John Paul Smith

#NAMED PARAMETER ASSIGNMENT
####During the function call, you can explicity assign values into parameter names. This is useful when you don’t want to mix up the order of values being passed in, as they work from left to right by default. You can use parameter names to assign values for every parameter if you choose, but it’s not necessary most of the time. Let’s check out an example:

In [55]:
def addNums(num1, num2):
  print(num2)
  print(num1)

addNums(5, num2 = 2.5)

2.5
5

#ARGS - Variable number of Arguments
## ####The use of  *args allows you to pass a variable number of arguments into a function. This allows you to make functions more modular. The magic isn’t the “args” keyword here though; it’s really the unary operator (*) that allows us to perform this feature. You could theoretically replace the word args with anyone, like “*data”, and it would still work. However, args is the default and general standard throughout the industry. Let’s see how we can use args in a function call:

In [56]:
def outputData(name, *args):
  print(type(args))
  for arg in args:
    print(arg)

outputData("John Smith", 5, True, "Jess")

<class 'tuple'>
5
True
Jess

#KWARGS - 
####Like args, kwargs allows us to take in an arbitrary number of values in a function; however, it works as a dictionary with keyword arguments instead. Keyword arguments are values passed in with keys, which allow us to access them easily within the function block. Again, the magic here is in the two unary operators (**) not the keyword of kwargs. Let’s check it out:

In [59]:
def outputData(**kwargs):
  print(type(kwargs))
  print(kwargs["name"])
  print(kwargs["num"])
  print(kwargs["b"])

outputData(name = "John Smith", num=5, b=True)

<class 'dict'>
John Smith
5
True

#Return - Statement
####Up to this point, we’ve been printing out the data that our functions alter, but what do you do if you need to access this information later? This is where the return statement is used. Functions can manipulate data and then send it back to where the function call occurred to save the information to be used for later. Today we’ll learn how to do that and why it’s useful.

In [62]:
def returnMultiple(num1, num2):
  a = num1
  b = num2
  return [a, b]

returnMultiple(10,10)

[10, 10]

#Ternary Operator
####A ternary operator is a shorthand Python branching statement. These operators can be used to assign values into a variable, or in this case, deciding what the return from a function:

In [63]:
def searchList(aList, el):
      return True if el in aList else False
result = searchList( [ "one", 2, "three" ], 2)    # result = True
print(result)

True

#Type Of Scope
###Global scope Access
###When global attributes are defined, they're accessible to the rest of the file. However, we must keep in mind how function scope works. Even when you declare a variable accessible to the entire file, it will not be accessible within the function. Let’s see an example:

In [65]:
number = 5
def scopeTest():
  number += 1 #not accessible due to the function level scope
  
scopeTest()

UnboundLocalError: ignored

#Handling function Scope
When dealing with variable declared in a function, you generally won't need to access it outside of the function. However, in order to access that value, best practice is to return it.

In [66]:
def scopeTest():
  word = "function"
  return word

value = scopeTest()
print(value)

function

#Data Collection and Files
There are several data stuctures in Python. We’ll cover dictionaries, sets, tuples, and frozensets.

#Declaring A Dictionary
####A dictionary is a collection of unordered data, which is stored in key-value pairs. What is meant by “unordered” is the way it is stored in memory. It is not accessible through an index, rather it is accessed through a key. Lists are known as ordered data collections because each item is assigned a specific location. Dictionaries work like a real-life dictionary, where the key is the word and the values are the definition. Dictionaries are useful for working with large data, mapped data, CSV files, APIs, sending or receiving data, and much more.

In [68]:
#declaring a dictionary variable
empty = {} #empty dictionary
person = {"name": "John Smith"}

customer = {
    "name" : "Morty",
    "age" : 26
}
print(customer)

{'name': 'Morty', 'age': 26}

#Using the GET Method
####Another way of retrieving information is to use the get() method. The major difference between using this method and the previous way of accessing a value is that the get method won’t throw a key error. If the key doesn’t exist, it will simply return “None”. You may also add in a second argument in the call, in order to have the program return a more specific data type. Let’s try

In [69]:
#using the get method to access dictionary information
person = {"name": "John"}
print(person.get("name")) #retrieves value of name

print(person.get("age", "Age is not available."))

John
Age is not available.

#Dictionaries with Lists
####Dictionaries become powerful when you start working with data collections as values:

In [71]:
#storing a list within a dictionary and accessing it
data = {"sports": [ "baseball", "football", "hockey", "soccer"]}
print(data["sports"][1])

football

#List With Dictionaries
###The combination of lists within dictionries and vice-versa can become confusiing when trying to figure out how to access information.

In [73]:
data = ["john", "Dennis", {"name": "Kristen", "Age": 24}]
print(data[2])
print("This would bring the age", data[2]["Age"])

{'name': 'Kristen', 'Age': 24}
This would bring the age 24

#Looping Dictionary
Dictionaries are iterable like lists. However, they have three different methods for doing so. You can iterate over both the keys and values together, only keys, or only values.

In [75]:
person = {"name": "John", "age": 26}
for key in person.keys():
  print("This is the key", key)
  print(person[key])

This is the key name
John
This is the key age
26

In [76]:
#Looping key-value pair
person = {"name": "John", "age": 26}
for key, value in person.items():
  print("{}:{}".format(key, value))

name:John
age:26

#Declaring Tuple
####To declare a tuple, you use a comma to separate two or more items. Lists are denoted by their square brackets on the outside, whereas tuples can be declared with optional parenthesis. It’s more likely they’re declared with parenthesis as it’s easier to read. Let’s see an example:

In [77]:
#declaring a tuple
t1 = ("hello", 2, "hello1")
t2 = True, 1

print(type(t1), type(t2))
t1[0] = 1

<class 'tuple'> <class 'tuple'>

TypeError: ignored

In [5]:
#Format the string
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old?".format(name, 28))

Hello John
Hello John, you are 28 years old?