In [1]:
import sqlite3

In [2]:
#connecting to the database
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [8]:
#create table
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
#query for a creating a table
create_table = """
               CREATE TABLE classroom(
               student_id INTEGER PRIMARY KEY,
               name VARCHAR(20),
               gender CHAR(1),
               physics_marks INTEGER,
               chemistry_marks INTEGER,
               mathematics_marks INTEGER);
               """

#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
connection.close()

OperationalError: table classroom already exists

# insert data

In [10]:
#sample data
classroom_data = [(1,"Raj","M",70,84,92),
                 (2,"Poonam","F",87,69,93),
                 (3,"Nik","M",65,83,90),
                 (4,"Rahul","F",93,76,89)]

#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    #formatting query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender,physics_marks,chemistry_marks,mathematics_marks)
                       VALUES ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
connection.commit()
connection.close()

extract data

In [11]:
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#execute query
cursor.execute(query)
result = cursor.fetchall()
#print results
for row in result:
    print(row)
#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 93, 76, 89)

MySQL database

In [12]:
!conda install -y -q pymysql

Package plan for installation in environment /home/vsb/anaconda3:

The following NEW packages will be INSTALLED:

    pymysql:  0.8.0-py36_0

The following packages will be UPDATED:

    anaconda: 5.0.1-py36hd30a520_1  --> custom-py36hbbc8b67_0
    conda:    4.3.30-py36h5d9f9f4_0 --> 4.5.0-py36_0
    pycosat:  0.6.2-py36h1a0ea17_1  --> 0.6.3-py36h0a5515d_0